.list_with_background_images .addunderline:before{
	margin: 0 !important;
}
.list-block {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
}
.list-block:before {
    position: absolute;
    background: rgba(32, 32, 32, 0.74);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    z-index: 9;		
}
.list-block .list-row {
    position: relative;
    display: flex; 
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /*padding: 259px 76.5px 50px 100px;*/
    padding: 259px 0 50px;
}
.list-block .list-row > .item {
   	max-width: 33.33%;
    flex: 33.33%;
    padding-top: 135px;
    position: relative;
    z-index: 9;
    transition: all 0.4s ease-in-out;
}
.list-block .list-row > .item .list {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.list-block .list-row > .item:hover .list {
    transform: translateY(-135px);
}
.list-block .list-row > .item:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 54px;
    padding-left: 100px;
}
.list-block .list-row > .item:not(:first-child) {
    padding-left: 76px;
    padding-right: 94px;
}
.list-block .list-row > .item:nth-child(5) {
    padding-right: 76.5px;
    border: 0;
}
.list-title h3 {
    margin-bottom: 6.4px;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
}
.list-content {
    color: #fff;
}
.list-content p{
	margin: 0;
}
.list-bg-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    border: 0 !important;
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s ease-in-out;
}
.list-bg-main.activeimage{
	opacity: 1;
	visibility: visible;
    transform: scale(1.07, 1.07);
}
.list-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-details .btn {
    padding: 9.5px 35px;
    margin-top: 15px;
}

/*Media Query*/
@media (min-width: 1025px) and (max-width: 1380px){
    .list-title h3{
        font-size: 22px !important;
    }
    .list-block .list-row{
        padding: 100px 0px 30px;
    }
    .list-block .list-row > .item:not(:last-child){
        padding-right: 30px;
        padding-left: 30px;
    }
    .list-block .list-row > .item:not(:first-child) {
        padding-left: 30px;
    }
}
@media (max-width: 1024px){
    .list-block .list-row {
        padding: 35px;
    }
    .list-block .list-row > .item {
        max-width: 100%;
        flex: 100%;
        border: 0 !important;
        border-bottom: 1px solid #fff !important;
        padding-bottom: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        margin-bottom: 20px;
    }
    .list-block .list-row > .item:hover .list{
        transform: unset !important;
    }
    .list-block .list-row > .item:nth-child(5) {
        margin-bottom: 0;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .list-block .list-row{
        padding: 40px;
    }
    .list-title h3{
        font-size: 22px !important;
    }
}
@media (max-width: 767px){
    .list-block .list-row{
        padding: 25px;
    }
    .list-title h3{
        font-size: 22px !important;
    }
}

@media (max-width: 575px){
    .list-title h3 {
        font-size: 18px;
    }   
}